* {
    font-family: 'Outfit', sans-serif;
    box-sizing:border-box;
    margin: 0;
    
}
body {
    display: flex;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 90%;
    max-width: 320px;
    padding: 20px;
    border-radius:10px;
}
img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 10px;
}
p {
    font-weight: 400;
    text-align:center;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}
h1 {
    font-size: 24px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
}
